<div class="container">
  <div class="row">
    <div class="col-12">
       <%= image_tag 'human-2944064_1920.jpg', class: ' w-100  mt-2 ',size: "500x600" %>
    </div>
  </div>
  
  <hr class="mt-5">
    <div class="row">
      <div class="col-6 text-center">
        <%= image_tag 'logo-about.png', class: 'mt-1 ',size: "400x135" %>
      </div>
      <div class="col-6 text-center">
        <h3>--- What's BORDERLESS ? ---</h3>
        <div class="page-title">
          BORDERLESS(ボーダレス)は「映画で日々を豊かにしよう」を<br />
          コンセプトにした映画レビューサービスです。映画レビューの<br />
          投稿・チェックができる機能をベースに「映画探し」や、<br />
          他の映画好きな人と一緒に「映画の感想や情報共有シェアして<br />
          楽しむコミュニケーションツール」としてご利用いただけます。
        </div>
      </div>
    </div>
  <hr>
</div>