<div id="top" class="big-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
          <div class="main-visual">
            <div class="main-visual-content">
              <div class="mx-auto">
                <h1>BORDERLESS</h1>
                <h5>Who doesn't like Movie?</h5>
              </div>
            </div>
        </div>
      </div>
    </div>
</div><!--/#top -->