<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.user.username, user_path(movie.user) %></td>
          <td><%= link_to movie.title, movie_path(movie.id) %></td>
          <td><%= movie.review %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>