// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  width: 100%;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}